.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(2, 153, 255, 0.94) 0%, rgba(55, 119, 177, 0.6768) 100%);
   }
  
   .container img{
    position: absolute;
    left: 6.93%;
    top: 7.76%;
    width: 14px;
    height: auto;
    color: black;
  }
  .container h1{
    position: absolute;
    top: 12.2%;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color : white;
  }
  .container-form-btn {
    display: flex;
    justify-content: center;
  }
  
  ion-card{
    position: absolute;
    left: 8%;
    top: 20.94%;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0.6;
    border-radius: 10px;
    width: 321px;
    height: 236px;
    border-radius: 10px;
  }
  
  .link{
    position: absolute;
    left: center;
    top: 350px;
    font-family: 'poppins';
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: white;
  }
  
  .container button{
    position: absolute;
    left: auto;
    top: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width:  170px;
    height: 48px;
    background: #ffffff;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    color: rgb(17, 16, 16);
  }
  .input {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: none;
    border: none;
    outline: none;
    color: black;
  }
  
  .label {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: none;
    border: none;
    outline: none;
    color:#373434;
    margin-top: -8px;
   
  }
  .username{
    top: 10px;
    left: 44px;
    border-radius: 6px;
    height: 50px;
    width: 243px;
    background: #FFFFFF;
  }
  .password{
    top: 30px;
    left: 44px;
    border-radius: 6px;
    height: 50px;
    width: 243px;
    background: #FFFFFF;
  }
  .icon-email{
    width: 49.2px; 
    position: absolute;
    left: 13.8%;
    right: 52.53%;
    top: 24.99%;
    bottom: 63.18%;
    color: black;
  }
  .icon-lock{
    width: 49.2px; 
    position: absolute;
    left: 13.8%;
    right: 52.53%;
    top: 33.55%;
    bottom: 63.18%;
    color: black;
  }
  ion-icon{
    position: absolute;
    left: 310px;
    right: 52.53%;
    top: 35.5%;
    bottom: 63.18%;
    width: 25px;
  }