<ion-content [fullscreen]="true">
  <div class="container">
    <img routerLink="/lupakatasandi2" src="assets/back.svg"/>
    <h1>Lupa kata Sandi</h1>
    <p class="password">Masukan kata sandi baru</p>
    <div class="icon-lock"> 
      <ion-img src="assets/lock.svg"></ion-img>
    </div>
    <ion-icon name="eye-outline"></ion-icon>
      <ion-Card>
        <ion-card-content>
          <ion-item class="newpassword">
            <ion-label class="label" position="floating">Kata Sandi Baru</ion-label>
            <ion-input class="input" type="password"></ion-input>
          </ion-item>
      </ion-card-content>
    </ion-Card>
    <button class="spalsh-btn custom-font" routerLink="/login">Perbarui</button>
  </div>
  </ion-content>
