<ion-content [fullscreen]="true">
  <div class="container">
    <img routerLink="/login" src="assets/back.svg"/>
    <h1>Lupa kata Sandi</h1>
    <p class="nomor">Masukan email yang terhubung dengan aplikasi</p>
    <div class="icon-telepon"> 
      <ion-img src="assets/email.svg"></ion-img>
    </div>
      <ion-Card>
        <ion-card-content>
          <ion-item class="telepon">
            <ion-label class="label" position="floating">Email</ion-label>
            <ion-input class="input" type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
      </ion-card-content>
    </ion-Card>
    <button class="spalsh-btn custom-font" (click)="resetpassword()">Kirim</button>
  </div>
  </ion-content>