.container img{
    position: absolute;
    left: 6.93%;
    right: 89.56%;
    top: 7.76%;
    bottom: 89.81%;
  }
  .container h1{
    position: absolute;
    left: 14%;
    right: 88%;
    top: 4.32%;
    bottom: 87.77%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .img-profil{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 169px;
    top: 120px;
  }
  .ID h3{
    position: absolute;
    width: 120px;
    height: 21px;
    left: 35%;
    right: 75%;
    top: 200px;
    text-align: center;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .nama h3{
    position: absolute;
    width: 100px;
    height: 21px;
    left: 35px;
    top: 254px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  
    color: #4F4F4F;
  }
  ion-card{
    position: absolute;
    width: 342px;
    height: 45px;
    left: 26px;
    top: 284px;
  
    background: #FFFFFF;
  
    border: 1px solid rgba(2, 153, 255, 0.94);
  
    border-radius: 5px;
  }
  .edit-nama{
    top: 285px;
  }
  .username{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 9px;
    top: 7px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: grey;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
  }
  .email h3{
    position: absolute;
    width: 100px;
    height: 21px;
    left: 35px;
    top: 346px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  
    color: #4F4F4F;
  }
  .edit-email{
    top: 377px;
  }
  .isi-email{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 9px;
    top: 7px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: grey;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
  }
  
  .spalsh-btn{
    position: absolute;
    left: 115px;
    right: 30px;
    top: 570px;
    bottom: 93px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width:  190px;
    height: 40px;
    background: rgba(2, 153, 255, 0.94);
    border-radius: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
  }