<ion-content>
  <div routerLink="/pesananmakanan" class="container"> 
    <img src="assets/kembali.svg"/> 
    <h1>Profil</h1>
  </div>
  <div class="img-profil"> 
    <ion-avatar>
      <img src="assets/icon/avatar.svg">
    </ion-avatar>
  </div>
  <div class="ID">
    <h3>ID: 00101</h3>
  </div>
  <div class="nama">
    <h3>Nama</h3>
  </div>
  <ion-card class="edit-nama">
    <ion-card-header class="username">{{user?.userName}}
    </ion-card-header>
  </ion-card>
  <div class="email">
    <h3>Email</h3>
  </div>
  <ion-card class="edit-email">
    <ion-card-header class="isi-email">{{user?.userEmail}}
    </ion-card-header>
  </ion-card>

  </ion-content>
