<ion-content>

    <div class="menu"> 
    <ion-img src="assets/soto.svg"></ion-img> 
  </div>
  <div class="container">
    <ion-card class="top">
      <div class="clock"> 
      <ion-img src="assets/clock.svg"></ion-img></div>
      <ion-card-header> 
         
      </ion-card-header> 
    
       <ion-card-content class="kantin-bunurul">
        Kantin Bu Nurul
        <ion-subtittle>ID 0001</ion-subtittle>
      </ion-card-content>
      <ion-card-content class="jam-bunurul">
        8.00-14.00
      </ion-card-content>
    </ion-card>
  </div>
 
  <ion-card class="card" *ngFor="let menu of menus">
    <ion-item-sliding>
    <ion-item>
      
      <ion-label class="title">{{menu.title}}</ion-label>
      <ion-label class="price">{{menu.price|currency:'Rp  '}}</ion-label>
      <ion-button class="status">{{menu.status}} </ion-button>
      <ion-icon class="tambah" name="add-circle"></ion-icon>

    </ion-item>
  
    <ion-item-options slide="end">

      <ion-item-option color="danger" (click)="delete(menu.menuId)">
        Delete
      </ion-item-option>


    </ion-item-options>
  </ion-item-sliding>
</ion-card>


<ion-tabs>
  <ion-tab-bar>
    <ion-card class="bar-pesanan">
      <div class="img-lanjut">
      <ion-img routerLink="/detailpesanan" src="assets/icon-lanjut.svg"></ion-img>
      </div>
    </ion-card>
    <h3 class="total">Total :</h3>
    <h3 class="jumlahitem">Jumlah item :</h3>
</ion-tab-bar>
</ion-tabs>

<div class="icon-back"> 
  <ion-img routerLink="/pesananmakanan"src="assets/back_menu.svg"></ion-img> 
   </div>

</ion-content>