<ion-app>
  <ion-menu menuId="main-menu" contentId="main" >
    <ion-content >
      <div class="img-profil"> 
        <img src="assets/icon/avatar.svg"/>
      </div>
      <h2 class="nama">{{user?.userName}}</h2>

      <h3 routerLink="/profiladmin" class="profil">Profil</h3>
      <h3 routerLink="/login" class="keluar">Keluar</h3>
      <div class="icon-profil"> 
        <ion-img routerLink="/profiladmin" src="assets/profil.svg"></ion-img> 
      </div>
        <div class="icon-keluar"> 
          <ion-img routerLink="/login" src="assets/keluar.svg"></ion-img> 
        </div>
   
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>