<ion-content>
  
    <div class="menu"> 
    <ion-img src="assets/icon/soto.svg"></ion-img> 
  </div>


<ion-card class="soto">
  <ion-item lines="none">
    <ion-img class="soto1"src="assets/icon/soto2.svg" slot="start"></ion-img>
    <ion-label class="nama1">Soto</ion-label>
    <ion-card-content class="harga1">
      Rp  7.000
    </ion-card-content>
    <ion-img class="option"src="assets/icon/option_2.svg"></ion-img>
    <ion-button class="btn-ada" fill="outline">Ada</ion-button>
  </ion-item>
  
</ion-card>
<ion-card class="bubur">
  <ion-item lines="none">
    <ion-img class="bubur1"src="assets/icon/Bubur.svg" slot="start"></ion-img>
    <ion-label class="nama2">Bubur Ayam</ion-label>
    <ion-card-content class="hargabubur1">
      Rp  7.000
    </ion-card-content>
    <ion-img class="option"src="assets/icon/option_2.svg"></ion-img>
    <ion-button class="btn-ada" fill="outline">Ada</ion-button>
  </ion-item>
</ion-card>

<ion-tabs>
  <ion-tab-bar>
    <div class="icon-daftarmenu">
      <ion-img   src="assets/icon/daftarmenu.svg"></ion-img>
                             
     </div>
     <div class="icon-menu">
      <ion-img  routerLink="/pesanandistributor" src="assets/icon/icon_menu.svg"></ion-img>
                             
     </div>
     <div class="icon-setting">
      <ion-img   src="assets/icon/settings.svg"></ion-img>
                             
     </div>
</ion-tab-bar>
</ion-tabs>

<div  class="icon-back"> 
  <ion-img routerLink="/pesanandistributor" src="assets/icon/back_menu.svg"></ion-img> 
   </div>

   <div class="container">
    <ion-card class="back">
      <div class="clock"> 
      <ion-img src="assets/icon/clock.svg"></ion-img></div>
      <ion-card-header> 
         
      </ion-card-header> 
    
       <ion-card-content class="nama">
        Kantin Bu Nurul
        <ion-subtittle>ID 0001</ion-subtittle>
      </ion-card-content>
      <ion-card-content class="jam">
        8.00-14.00
      </ion-card-content>
      <ion-img routerLink="/tambahmenu" class="plus" src="assets/icon/plus.svg"></ion-img>
    </ion-card>

  </div>

</ion-content>