.icon-back{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 24px;
    top: 65px;
}
.menu{
    width: 410px;
    height: 319px;
    left: 0px;
    top: -2px;
}
.back{
    position: absolute;
width: 410px;
height: 152px;
left: -10px;
top: 187px;

background: #FFFFFF;
border-radius: 20px 20px 0px 0px;
}
.container{
    font-family: 'poppins';
}
.nama{
    position: absolute;
left: 4.9%;
right: 37.6%;
top: 50px;
bottom: 74.86%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #2D2B43;

}
ion-subtittle{
    position: absolute;
left: 8%;
right: 37.6%;
top: 150%;
bottom: 72.76%;

font-family: 'poppins';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;

color: #9B9B9B;

}
.jam{
    position: absolute;
left: 11.2%;
right: 64%;
top: 62%;
bottom: 69.9%;

font-family: robboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;

color: #404040;
}

.clock{
position: absolute;
width: 14px;
height: 13px;
left: 40px;
top: 100px;
}

.plus{
    width: 29px;
    height: 27px;
    margin-left: 340px;
    margin-top: 73px;
    }


    .card{
  left: 6%;
  width: 340px;
  top: 230px;
}
.amount{
margin: 0!important;
padding: 0!important;
min-width: 8% !important;
max-width: 8% !important;
}
.title{
margin: 0!important;
padding: 0!important;
min-width: 28% !important;
max-width: 28% !important;

}
.desc{
margin: 0!important;
padding: 0!important;
min-width: 32% !important;
max-width: 32% !important;

}
.price{
margin: 0!important;
padding: 0!important;
min-width: 40% !important;
max-width:40% !important;

}

.card{
    left: 6%;
    width: 340px;
    top: 40px;
  }
  .title{
  font-family: 'poppins';
  margin: 0!important;
  padding: 0!important;
  min-width: 40% !important;
  max-width: 40% !important;
  
  }
  .status{
  font-family: 'poppins';
  margin: 0!important;
  padding: 0!important;
  min-width: 20% !important;
  max-width: 20% !important;
  
  }
  .price{
  font-family: 'poppins';
  margin: 0!important;
  padding: 0!important;
  min-width: 40% !important;
  max-width:40% !important;
  
  }